body {
  background-color: antiquewhite;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: white;

  &-categories {
    margin: 10px;
    text-decoration: none;
  }
}